[project]
name = "uv-dependency-submission"
version = "1.0.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = []

[dependency-groups]
dev = [
  "ruff==0.14.10",
  "basedpyright==1.36.1",
]

[tool.basedpyright]
pythonVersion = "3.12"
exclude = [
  "data",
  ".venv"
]
venvPath = "."
venv = ".venv"
typeCheckingMode = "strict"

[tool.ruff]
line-length = 120
