name: Publish

on:
  push:
    tags: ["*"]

permissions: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  github:
    name: Create Github release
    runs-on: ubuntu-latest
    timeout-minutes: 15
    permissions:
      contents: write # create github release
      id-token: write # deploy
      attestations: write # create attestations
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Create release
        run: gh release create "${GITHUB_REF_NAME}" --generate-notes
        env:
          GH_TOKEN: ${{ github.token }}
